/* .__colors {
    x: #3d84e8;
    x: #ffffff;
    x: #569ec2;
    x: #2f6783;
    / *rgb(47, 103, 131)* /
    x: #e6e6e6;
    x: #7cb3cf;
} */

/* .__colors {
    orange: #e69f00;
    sky_blue: #56b4e9;
    green: #009e73;
    yellow: #f0e442;
    / *rgb(47, 103, 131)* /
    blue: #0072b2;
    red: #d55e00;
    purple: #cc79a7;
} */

.md-main {
    background-image: url('../assets/background.png');
    background-attachment: fixed;
    background-position: center;
    /* position: relative; */
    /* z-index: -2; */
}

.md-main::before {
    content: "";
    background-color: rgba(256, 256, 256, 0.9);
    /* Adjust the alpha value to control the tint intensity */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}

.md-main__inner {
    position: relative;
    z-index: 1;
}

.md-footer {
    z-index: 1;
}

/* Horizontal Card Layout with Content and Logo */
.card {
    display: flex;
    flex-direction: row;
    /* Align items horizontally */
    justify-content: space-between;
    align-items: center;
    /* Center items vertically */
    padding: 1em;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(213, 94, 0, 0.2);
}

.card-content {
    flex-grow: 1;
    /* Allows content to fill available space */
    padding-right: 1em;
    /* Spacing between content and logo */
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(213, 94, 0, 0.2);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .card {
        flex-direction: column;
        /* Revert to column layout for smaller screens */
    }

    .card-container {
        grid-template-rows: 1fr;
        /* Single column layout on small screens */
    }
}

@media (max-width: 600px) {
    .card {
        padding: 1em;
    }
}

.card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    /* Adjust row height as needed */
    gap: 2em;
    padding: 2em;
    justify-content: center;
}

.pitch {
    font-size: 150%;
    text-align: center;
}

.tagline {
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    border-bottom: #0072b2 double 1px;
    color: #d55e00 !important;
}

.subtagline {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
    color: #0072b2 !important;
}

.emph {
    border-bottom: #0072b2 dotted 1px;
    color: #d55e00;
}

.blk {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    display: block;
    margin: 0 auto;
}

article h2 {
    color: #0072b2;
    font-weight: bold;
}

h2,
h4 {
    margin-bottom: 0.5em;
}

h2 {
    color: #0072b2;
    /* Nyx branding color */
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
    color: #555;
}

p {
    margin-bottom: 1em;
    text-align: justify;
    /* Improved readability */
}

/* List and Emphasis Styles */
ul {
    list-style: inside;
    /* Cleaner look */
    padding-left: 1em;
}

.emph {
    font-weight: bold;
    color: #d55e00;
    /* Highlight color */
}

/* Responsive Media Queries */
@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .card {
        padding: 1em;
    }

    h2 {
        font-size: 1.4em;
    }

    h4 {
        font-size: 1.1em;
    }
}

.blurry-image {
    filter: blur(1px);
}


.chart {
    width: 100%;
    padding: 20px;
}

.bar {
    margin-bottom: 10px;
    height: 30px;
    color: white;
    line-height: 30px;
    background-color: #0072b2;
    text-indent: 10px;
    position: relative;
}

.bar-text {
    position: absolute;
    right: 10px;
    color: #d55e00;
}

.nyx {
    background-color: #0072b2;
}

.gmat {
    background-color: #f0e442;
}

.ansys {
    background-color: #d55e00;
}

.ctr {
    text-align: center;
}